apiVersion: apps/v1
kind: Deployment
metadata:
  name: ordering-api
  labels:
    app: ordering-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ordering-api
  template:
    metadata:
      name: ordering-api
      labels:
        app: ordering-api
    spec:
      containers:
        - name: ordering-api
          image: mqsr/coffeespace-ordering-api:2.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
          - name: "ASPNETCORE_ENVIRONMENT"
            value: "Production"
          - name: "AZURE_CLIENT_ID"
            valueFrom:
              secretKeyRef:
                key: "azure-client-id"
                name: "azure-key-vault"
          - name: "AZURE_CLIENT_SECRET"
            valueFrom:
              secretKeyRef:
                key: "azure-client-secret"
                name: "azure-key-vault"
          - name: "AZURE_TENANT_ID"
            valueFrom:
              secretKeyRef:
                key: "azure-tenant-id"
                name: "azure-key-vault"
          - name: "AZURE_VAULT_NAME"
            valueFrom:
              secretKeyRef:
                key: "azure-vault-name"
                name: "azure-key-vault"
          volumeMounts:
            - name: ca-volume
              mountPath: app/DigiCertGlobalRootCA.crt.pem
              subPath: DigiCertGlobalRootCA.crt.pem
              readOnly: true
      restartPolicy: Always
      volumes:
          - name: ca-volume
            configMap:
              name: ca-config   