apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  labels:
    app: payment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      name: payment-service
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: mqsr/coffeespace-payment-service:2.1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: "ASPNETCORE_ENVIRONMENT"
              value: "Production"
            - name: "AZURE_CLIENT_ID"
              valueFrom:
                secretKeyRef:
                  key: "azure-client-id"
                  name: "azure-key-vault"
            - name: "AZURE_CLIENT_SECRET"
              valueFrom:
                secretKeyRef:
                  key: "azure-client-secret"
                  name: "azure-key-vault"
            - name: "AZURE_TENANT_ID"
              valueFrom:
                secretKeyRef:
                  key: "azure-tenant-id"
                  name: "azure-key-vault"
            - name: "AZURE_VAULT_NAME"
              valueFrom:
                secretKeyRef:
                  key: "azure-vault-name"
                  name: "azure-key-vault"
      restartPolicy: Always
      